<% page_title 'Admin - Main Index Page' %>

<div class="app app-main-container index-main">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="push-50-t push-50">Zentraler Fragenmanager</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 txt-center">
      <div class="panel-container">
        <h3 class="push-20">Interviewer</h3>
        <ul>
          <li><%= link_to('Hauptseite', interviewer_main_index_path) %></li>
          <!-- <li><%# link_to('Fragebogen', new_interviewer_rating_session_path) %></li> -->
          <!-- <li><%# link_to('Zuschauerfragen - Panel auswählen', interviewer_panels_path) %></li> -->
          <!-- <li><%# link_to('Zuschauerfragen - Frage eingeben', new_interviewer_panel_question_path(Panel.first)) %></li> -->
        </ul>
      </div>
    </div>
    <div class="col-md-4 txt-center">
      <div class="panel-container">
        <h3 class="push-20">Redakteur</h3>
        <ul>
          <% Panel.order('id asc').limit(5).each do |panel| %>
          <li><%= link_to("#{panel.title}", redakteur_panel_path(panel)) %></li>
          <% end -%>
        </ul>
      </div>
    </div>
    <div class="col-md-4 txt-center">
      <div class="panel-container">
        <h3 class="push-20">Moderator</h3>
        <ul>
          <% Panel.order('id asc').limit(5).each do |panel| %>
          <li><%= link_to("#{panel.title}", moderator_panel_path(panel)) %></li>
          <% end -%>
        </ul>
      </div>
    </div>
    <div class="col-md-4 txt-center">
      <div class="panel-container">
        <h3 class="push-20">Playout</h3>
        <ul>
          <% Panel.order('id asc').limit(5).each do |panel| %>
          <li><%= link_to("#{panel.title}", playout_panel_path(panel)) %></li>
          <% end -%>
        </ul>
      </div>
    </div>
    <div class="col-md-4 txt-center">
      <div class="panel-container">
        <h3 class="push-20">Veranstalter Fragen</h3>
        <ul>
          <li><%= link_to('Veranstalter Fragen - Panel auswählen', operator_panels_path) %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 txt-center">
      <div class="panel-container">
        <h3 class="push-20">Besucher mobile</h3>
        <ul>
          <li><%= link_to('Besucher mobile - Panel auswählen', visitor_panels_path) %></li>
          <li><hr></li>
          <li><%= link_to('Admin Fragen bearbeiten', admin_questions_path) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
