<table aria-labelledby="rating_steps">
  <thead>
    <tr>
      <th class="cell-label cell-label--number cell-label--false" scope="col" role="columnheader" aria-sort="none">
        Pos
      </th>
      <th class="cell-label cell-label--text cell-label--false" scope="col" role="columnheader" aria-sort="none">
        Text
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% field.rating_steps.each do |rs| %>
      <tr class="js-table-row" tabindex="0">
        <td class="cell-data cell-data--number %>">
          <%= rs[:pos] %>
        </td>
        <td class="cell-data cell-data--text %>">
          <%= rs[:name] %>
        </td>
        <td>
          <%= link_to(
            t("administrate.actions.edit"),
            edit_admin_rating_step_path("#{field.resource.id}-#{rs[:pos]}"),
            class: "action-edit",
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%# field.rating_steps %>
