$('#moderator-current-question').html("<%=j render partial: 'moderator/panels/current_question', locals: { panel: @panel } %>");
$('#moderator-selected-questions').html("<%=j render partial: 'moderator/panels/selected_list', locals: { panel: @panel } %>");
$('#moderator-rating-stats').html("<%=j render partial: 'moderator/panels/rating_stats', locals: { panel: @panel } %>");
$('#moderator-close-button').toggleClass('invisible', true);
