  <% page_title 'Besucher - Panel wählen' %>

  <div class="app app-main-container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="push-30">Teilnehmerfrage einreichen</h1>
        <h2 class="push-30">Der Außenwirtschaftsag 2018 bietet Ihnen die Möglichkeit, eigene Fragen zu den stattfindenden Panels einzureichen. Tippen Sie einfach auf das gewünschte Panel, um das Formular aufzurufen.</h2>
      </div>
    </div>

    <div class="row">
    <% @panels.each do |panel| %>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <%= link_to(controller: 'questions', action: 'new', panel_id: panel.id) do %>
        <div id="panel-<%= panel.id %>" class="panel-container">
            <h3 class="push-20"><%= panel.title %></h3>
            <p><%= panel.description %></p>
            <p>
        </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
