  <% page_title('Befrager - Startscreen') %>
  <% provide(:extra_body_attributes, raw("data-channels=\"GlobalVisitorQuestionsChannel\"")) %>

  <div class="container-flex">

    <div class="section app-left-side">
      <div class="app-inline-container">

        <h3 class="push-20">Anzahl Bewertungen</h3>
        <div class="row push-70">
            <div class="col-md-4 col-md-offset-4">

                <div class="block-content widget-question-counter clearfix">
                    <div class="pull-right push-15-t push-15">
                        <i class="fa fa-clipboard-list fa-2x text-smooth"></i>
                    </div>
                    <div class="h2 push-15-t text-left" id="rating-count"><%= Rating.count %></div>
                    <div class="text-uppercase text-left tx-15">Gesamt</div>
                </div>
            </div>
        </div>

        <h1 class="push-30">Umfrage</h1>
        <h3 class="push-50">Startet den offiziellen Fragebogen des Veranstalters.</h3>

        <%= link_to new_interviewer_rating_session_path, class: 'btn btn-success btn-with-icon push-10-l' do %>
          <div class="ht-40 justify-content-between" style="float:left;">
            <span class="pd-x-15">Umfrage starten</span>
            <span class="icon wd-40"><i class="fa fa-clipboard-list"></i></span>
          </div>
        <%- end -%>
      </div>
    </div>

    <div class="section app-right-side center">

      <div class="app-inline-container">
        <h3 class="push-20">Anzahl Teilnehmerfragen</h3>
        <div class="row push-70">
          <% Panel.order(:id).each do |panel| %>
          <div class="col-md-4">

            <div class="block-content widget-panel-<%= panel.id %> clearfix">
              <div class="pull-right push-15-t push-15">
                <i class="fa fa-users fa-2x text-smooth"></i>
              </div>
              <div id="panel-question-count-<%= panel.id %>" class="h2 push-15-t text-left"><%= panel.questions.count %></div>
              <div class="text-uppercase text-left tx-15">Panel <%= panel.id %></div>
            </div>
          </div>
          <% end %>
        </div>

        <h1 class="push-30">Teilnehmerfragen</h1>
        <h3 class="push-50">Erfassen Sie eine Teilnehmerfrage.</h3>

        <%= link_to interviewer_panels_path, class: 'btn btn-success btn-with-icon push-10-l' do %>
          <div class="ht-40 justify-content-between">
            <span class="pd-x-15">Teilnehmerfrage erfassen</span>
            <span class="icon wd-40"><i class="fa fa-comment-alt"></i></span>
          </div>
        <%- end -%>

      </div>
    </div>

  </div>
