  <% page_title 'Veranstalter - Frage eingeben' %>

  <%= link_to('', operator_panels_path, class: 'close-button') %>

  <div class="app app-main-container new-question">
    <%= form_tag(operator_panel_questions_path(@panel), class: 'form-horizontal push-5-t question-form') do %>
    <%= hidden_field_tag 'panel_id', @panel.id %>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="push-50">Geben Sie Ihre Frage für das <%= @panel.title %> ein.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="speech-bubble">
          <div class="form-group">
            <label class="col-xs-12" for="visitor-message">Bitte geben Sie Ihre Frage ein.</label>

            <div class="col-xs-12">
              <textarea class="form-control" id="visitor-message" name="content" placeholder="Ihre Frage..." maxlength="280"></textarea>
              <span class="badge badge-letter-count push-10-t"><h5 id="count_character"></h5></span>
            </div>
          </div>
        </div><!-- .speech-bubble -->
      </div><!-- .col -->
    </div><!-- .row -->

    <div class="row">
      <div class="col-md-10 col-md-offset-1 push-50-t">
        <%= link_to operator_panels_path, class: 'btn btn-danger btn-with-icon push-10-r reset-button' do %>
          <div class="ht-40 justify-content-between">
            <span class="pd-x-15">Abbrechen</span>
            <span class="icon wd-40"><i class="fa fa-times-circle"></i></span>
          </div>
        <%- end -%>

        <%= link_to '#', class: 'btn btn-success btn-with-icon push-10-l submit-button' do %>
          <div class="ht-40 justify-content-between">
            <span class="pd-x-15">Frage abschicken</span>
            <span class="icon wd-40"><i class="fa fa-share-square"></i></span>
          </div>
        <%- end -%>
      </div>
    </div>

    <% end -%>
  </div>

  <script>

    $( document ).ready(function() {

      var text_max = $('#visitor-message').attr('maxlength') || 100;
      $('#count_character').html(text_max + ' Zeichen verbleibend');

      $('#visitor-message').keyup(function() {
        var text_length = $('#visitor-message').val().length;
        var text_remaining = text_max - text_length;

        if (text_remaining >= 0) {
          $('#count_character').html(text_remaining + ' Zeichen verbleibend');
        }
      });

      $('.close-button, .reset-button').on('click', function(e) {
        var formChanged = $('#visitor-message').val().length > 0,
            message = 'Wirklich abbrechen OHNE zu speichern?';

        if (formChanged) {
          return confirm(message);
        }
      });

      $('.question-form .submit-button').on('click', function(e) {
        e.preventDefault();
        if($('#visitor-message').val().length > 0) {
          Rails.disableElement(this);
          $(this).closest('form').submit();
        }
      });
    });

</script>
