  <% page_title 'Befrager - Zuschauerbefragung' %>

  <%= link_to('', interviewer_main_index_path, class: 'close-button') %>

  <div class="">

    <h1 class="push-10 push-40-t txt-center">Umfrage Außenwirtschaftstag 2018</h1>

    <div class="txt-center">
      <span class="badge badge-letter-count push-10-t"><h5 id="info" class="tx-22"></h5></span>
    </div>
    <%= form_tag(interviewer_rating_sessions_path, class: 'rating-form') do %>
      <div class="owl-carousel">
      <% @questions.each_with_index do |question, i| %>
        <div class="item">
          <div class="speech-bubble pad-20">
            <h3><%= question_number(question) %>.) <%= question.content %></h3>
          </div>
          <!-- Rating -->
          <div class="block no-bgcolor push-30-t" style="margin-bottom:10px;"">
            <div class="block-content">
              <div class="row items-push text-center">
                <div style="display:inline-block;">
                  <%= hidden_field_tag "rating_session[ratings][#{i}][question_id]", question.id %>
                  <% question.rating_schema.rating_steps.each do |rating_step| %>
                  <div class="text-left">
                  <label class="css-input label-rating css-radio css-radio-lg css-radio-success push-10-r">
                    <%= radio_button_tag "rating_session[ratings][#{i}][rating_step_id]", rating_step.id %><span></span> <%= rating_step.name %>
                  </label>
                </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <!-- EndRating -->
          <% if i == @questions.size-1 %>
          <!-- Buttons -->
          <div class="block no-bgcolor push-10-t" style="margin-bottom:0;">
            <div class="block-content">
              <div class="row items-push">
                <div class="col-xs-12 txt-center">
                  <a href="#" class="btn btn-success btn-with-icon push-10-l submit-button" data-disable-with="<%= %(<div class='ht-40 justify-content-between'><span class='pd-x-15'>Speichern...</span><span class='icon wd-40'><i class='fa fa-share-square'></i></span></div>).html_safe %>">
                    <div class="ht-40 justify-content-between">
                      <span class="pd-x-15">Befragung abschließen und zum Home-Screen</span>
                      <span class="icon wd-40"><i class="fa fa-share-square"></i></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- EndButtons -->
          <% end %>
        </div>
      <% end %>
      <% # ------------------------------------------------------------------ %>
      <% if false %>
      <% # ------------------------------------------------------------------ %>
      <div class="item">
        <div class="speech-bubble pad-20">
          <div class="form-group">
            <div class="">
              <textarea class="form-control" id="visitor-message" name="rating_session[feedback]" rows="3" placeholder="Bemerkungen" maxlength="280"></textarea>
              <span class="badge badge-letter-count push-10-t"><h5 id="count_character"></h5></span>
            </div>
          </div>
        </div>
        <div class="block no-bgcolor push-50-t">
          <div class="block-content">
            <div class="row items-push">
              <div class="col-xs-12 txt-center">
                <a href="#" class="btn btn-success btn-with-icon push-10-l submit-button" data-disable-with="<%= %(<div class='ht-40 justify-content-between'><span class='pd-x-15'>Speichern...</span><span class='icon wd-40'><i class='fa fa-share-square'></i></span></div>).html_safe %>">
                  <div class="ht-40 justify-content-between">
                    <span class="pd-x-15">Befragung abschließen und zum Home-Screen</span>
                    <span class="icon wd-40"><i class="fa fa-share-square"></i></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% # ------------------------------------------------------------------ %>
      <% end %>
      <% # ------------------------------------------------------------------ %>
      </div><!--.owl-carousel-->
    <%- end -%>

  </div>

  <script>

    $(document).ready(function() {

      $('.owl-carousel').on('initialized.owl.carousel changed.owl.carousel', function(e) {
        if (!e.namespace) {
          return;
        }
        var carousel = e.relatedTarget;
        $('#info').text(carousel.relative(carousel.current()) + 1 + '/' + carousel.items().length)
      })
      .owlCarousel({
        loop:false,
        item:1,
        margin: 10,
        autoHeight:true,
        autoplay: false,
        nav: true,
        navText: ["<span class='icon icon-arrow-left'></span>","<span class='icon icon-arrow-right'></span>"],
        responsive:{
          0:{
            items:1
          },
          600:{
            items:1
          },
          1000:{
            items:1
          }
        },
        // startPosition: 10
      });

      var text_max = $('#visitor-message').attr('maxlength') || 100;
      $('#count_character').html(text_max + ' Zeichen verbleibend');

      $('#visitor-message').keyup(function() {
        var text_length = $('#visitor-message').val().length;
        var text_remaining = text_max - text_length;

        if (text_remaining >= 0) {
          $('#count_character').html(text_remaining + ' Zeichen verbleibend');
        }
      });

      function isFormChanged() {
        return $('.rating-form input[type=radio]:checked').length > 0;
      }

      $('.close-button').on('click', function(e) {
        if (isFormChanged()) {
          e.preventDefault();
          if (confirm('Befragung verlassen und Speichern?')) {
            Rails.disableElement(this);
            $('form.rating-form').submit();
          }
        }
      });

      $('.rating-form .submit-button').on('click', function(e) {
        e.preventDefault();
        if (isFormChanged()) {
          Rails.disableElement(this);
          $('form.rating-form').submit();
        }
      });

    });

  </script>
