  <% page_title 'Veranstalter - Panel wählen' %>

  <div class="app app-main-container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="push-30">IMG Backupfragen eingeben</h1>
        <h2 class="push-30">Es können für jedes Panel Backupfragen eingegeben werden. IMG Backupfragen erscheinen wie Zuschauerfragen, sind aber für den Redakteur als IMG Fragen zu erkennen.</h2>
      </div>
    </div>

    <div class="row">
    <% @panels.each do |panel| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div id="panel-<%= panel.id %>" class="panel-container">
          <%= link_to(controller: 'questions', action: 'new', panel_id: panel.id) do %>
            <h3 class="push-20"><%= panel.title %></h3>
            <p><%= panel.description %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
