              <div class="question-list-item question-empty">
                  <div class="d-flex justify-content-between push-1">

                  </div>
                  <div class="question-content justify-content-between">
                    <p class="tx-18"><%= message %></p>
                  </div>
              </div><!-- question-list-item -->
