<% if question.type == 'VisitorQuestion' %>
  <div class="question-list-item my-handle quest-visitor author-<%= question.author %> quest-state-<%= question_state(panel, question) %>" data-question-id="<%= question.id %>">
    <div class="question-headline-visitor d-flex justify-content-between push-1">
      <span class="tx-14"><i class="fa fa-comment-alt"></i><span class="push-5-l">Nr. <%= question_number(question) %>, Zuschauerfrage</span></span>
      <span class="tx-14"><span class="badge badge-rating-visitor"><i class="fa fa-clock push-5-r"></i><%= l(question.created_at, format: '%H:%M') %></span></span>
    </div>
    <div class="question-content justify-content-between">
      <p class="tx-14" data-type="textarea" data-pk="<%= question.id %>" data-url="/redakteur/panels/update_question"><%= question.content %></p>
      <% if mode == 'add-to-selection' %>
        <%= link_to redakteur_panel_selected_questions_path(panel), remote: true, method: 'post', data: { authenticity_token: true, disable: true, params: { question_id: question.id }.to_param }, class: "btn btn-add-question btn-icon #{mode}" do %>
          <div><i class="fa fa-plus"></i></div>
        <%- end -%>
      <% elsif mode == 'remove-from-selection' %>
        <%= link_to redakteur_panel_selected_question_path(panel, question), remote: true, method: 'delete', data: { authenticity_token: true, disable: true }, class: "btn btn-add-question btn-icon #{mode}" do %>
          <div><i class="fa fa-plus"></i></div>
        <%- end -%>
      <% end %>
    </div>
  </div><!-- question-list-item -->
<% elsif question.type == 'EventQuestion' %>
  <div class="question-list-item my-handle quest-official quest-state-<%= question_state(panel, question) %>" data-question-id="<%= question.id %>">
    <div class="question-headline-official d-flex justify-content-between push-1">
      <span class="tx-14"><i class="fa fa-clipboard-list"></i><span class="push-5-l">Nr. <%= question_number(question) %>, Fragebogen</span></span>
      <span class="tx-14"><span class="badge badge-rating-official"><i class="fa fa-chart-pie push-5-r"></i><span class="rating-count"><%= question.overall_rating_count %></span> Bewertungen</span></span>
    </div>
    <div class="question-content justify-content-between">
      <p class="tx-14" data-type="textarea" data-pk="<%= question.id %>" data-url="/redakteur/panels/update_question"><%= question.content %></p>
      <% if mode == 'add-to-selection' %>
        <%= link_to redakteur_panel_selected_questions_path(panel), remote: true, method: 'post', data: { authenticity_token: true, disable: true, params: { question_id: question.id }.to_param }, class: "btn btn-add-question btn-icon #{mode}" do %>
          <div><i class="fa fa-plus"></i></div>
        <%- end -%>
      <% elsif mode == 'remove-from-selection' %>
        <%= link_to redakteur_panel_selected_question_path(panel, question), remote: true, method: 'delete', data: { authenticity_token: true, disable: true }, class: "btn btn-add-question btn-icon #{mode}" do %>
          <div><i class="fa fa-plus"></i></div>
        <%- end -%>
      <% end %>
    </div>
  </div><!-- question-list-item -->
<% end %>
