<% page_title 'Redakteur Startscreen' %>
<% provide(:extra_body_attributes, raw("data-channels=\"VisitorQuestionsChannel,CurrentQuestionsChannel\" data-panel-id=\"#{@panel.id}\"")) %>

<div class="container-flex">

  <div class="section-redakteur app-left-side">
    <div class="app-inline-container">

      <!-- Block Tabs Animated Slide Left -->
      <div class="block">
        <ul class="nav nav-tabs" data-toggle="tabs">
          <li class="active">
            <a href="#tab-official-questions" class="tab-official"><i class="fa fa-fw fa-clipboard-list"></i><span>Fragebogen</span><span class="count" id="redakteur-event-questions-count"><%= @panel.available_event_questions.count %></span></a>
          </li>
          <li>
            <a href="#tab-visitor-questions" class="tab-visitor"><i class="fa fa-fw fa-comment-alt"></i><span>Zuschauer</span><span class="count" id="redakteur-visitor-questions-count"><%= @panel.available_visitor_questions.count %></span></a>
          </li>
          <li>
            <a href="#tab-finished-questions" class="tab-finished"><i class="fa fa-fw fa-clipboard-check"></i><span>Erledigt</span><span class="count" id="redakteur-finished-questions-count"><%= @panel.finished_questions.count %></span></a>
          </li>
        </ul>
        <div class="legend">
          <span class="badge-legend-official"></span><span class="tx-13">offizielle Fragen</span>
          <span class="badge-legend-visitor"></span><span class="tx-13">Teilnehmerfragen</span>
          <span class="badge-legend-img"></span><span class="tx-13">Veranst. Backupfragen</span>
        </div>
        <div class="block-content tab-content">
          <div class="tab-pane fade fade-left in active" id="tab-official-questions">
            <div class="question-list-body" id="redakteur-event-questions">
              <%= render partial: 'question', collection: @panel.available_event_questions, locals: { panel: @panel, mode: 'add-to-selection' } %>
            </div>
          </div>
          <div class="tab-pane fade fade-left" id="tab-visitor-questions">
            <div class="question-list-body" id="redakteur-visitor-questions">
              <%= render partial: 'question', collection: @panel.available_visitor_questions, locals: { panel: @panel, mode: 'add-to-selection' } %>
            </div>
          </div>
          <div class="tab-pane fade fade-left" id="tab-finished-questions">
            <div class="question-list-body" id="redakteur-finished-questions">
              <%= render partial: 'question', collection: @panel.finished_questions, locals: { panel: @panel, mode: 'add-to-selection' } %>
            </div>
          </div>
        </div>
      </div>
      <!-- END Block Tabs Animated Slide Left -->
    </div>
  </div>

  <div class="section-moderator app-right-side">
    <div class="app-inline-container">

      <div class="row">
        <div class="block remove-margin projector">
          <div class="block-header pnl-header-mod-presenter">
            <h3 class="block-title"><i class="fa fa-fw fa-desktop"></i><span>veröffentlichte Frage</span></h3>
          </div>
          <div class="block-content">
            <div class="question-list-body" id="redakteur-current-questions">
              <%- if @panel.current_question -%>
                <%= render partial: 'question', locals: { panel: @panel, question: @panel.current_question, mode: nil } %>
              <%- else -%>
                <%= render partial: 'empty_current_question' %>
              <%- end -%>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="block">
          <div class="block-header pnl-header-mod-quests">
            <h3 class="block-title"><i class="fa fa-fw fa-microphone"></i><span>Moderator Fragen Warteschlange</span></h3>
          </div>
          <div class="block-content">
            <div class="question-list-body">
              <%= form_tag(redakteur_panel_selected_question_path(@panel), class: 'selected-questions-form', method: 'put', remote: true) do %>
                <%= hidden_field_tag :selected_questions, @panel.attributes['selected_questions'].join(',') %>
                <div id="redakteur-selected-questions">
                  <%= render partial: 'question', collection: @panel.selected_questions, locals: { panel: @panel, mode: 'remove-from-selection' } %>
                </div>
              <%- end -%>
              <%# render partial: 'empty_question', locals: { message: "Fügen Sie eine Frage aus der linken Liste hinzu. <span id='selection-counter'>#{@panel.max_selection_count - @panel.selected_count} / #{@panel.max_selection_count}</span>".html_safe } %>
              <%= render partial: 'empty_question', locals: { message: "Fügen Sie eine Frage aus der linken Liste hinzu." } %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<!-- tmp -->
<style media="screen">
  .ui-state-highlight { height: 4em; line-height: 2em; }
</style>




<script>

  $(function() {

    // sortable list
    $('#redakteur-selected-questions').zfmSortableList();

    // console.log(eventQuestions.length, visitorQuestions.length);
    $(document).on('ajax:success','a.add-to-selection', function(event) {
      var detail = event.detail;
      var data = detail[0], status = detail[1], xhr = detail[2];
    });

    $(document).on('ajax:success', 'a.remove-from-selection', function(event) {
      var detail = event.detail;
      var data = detail[0], status = detail[1], xhr = detail[2];
    });

  });

</script>
