  <% page_title 'Befrager - Panel wählen' %>

  <%= link_to('', interviewer_main_index_path, class: 'close-button') %>

  <div class="app app-main-container">

    <div class="row">
      <!--<div id="logo"></div>-->
      <h1 class="push-30">Bitte wählen Sie ein Panel aus</h1>
      <h2 class="push-30">Wählen Sie das gewünschte Panel aus dem Sie Ihre Frage zuweisen möchten.</h2>
    </div>

    <div class="row">
    <% @panels.each do |panel| %>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div id="panel-<%= panel.id %>" class="panel-container">
          <%= link_to(controller: 'questions', action: 'new', panel_id: panel.id) do %>
            <h3 class="push-20"><%= panel.title %></h3>
            <p><%= panel.description %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
