<%#
# Index

This view is the template for the index page.
It is responsible for rendering the search bar, header and pagination.
It renders the `_table` partial to display details about the resources.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Collection][1].
  Contains helper methods to help display a table,
  and knows which attributes should be displayed in the resource's table.
- `resources`:
  An instance of `ActiveRecord::Relation` containing the resources
  that match the user's search criteria.
  By default, these resources are passed to the table partial to be displayed.
- `search_term`:
  A string containing the term the user has searched for, if any.
- `show_search_bar`:
  A boolean that determines if the search bar should be shown.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Collection
%>

<% content_for(:title) do %>
  <%= display_resource_name(page.resource_name) %>
<% end %>

<style>
  .zfm-admin-block {
    margin-bottom: 20px;
  }
  .zfm-admin-block h2 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
  }
</style>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body main-content__body">

  <div class="zfm-admin-block">
    <h2>Interviewer</h2>
    <ul>
      <li><%= link_to('Hauptseite', interviewer_main_index_path) %></li>
      <!-- <li><%# link_to('Fragebogen', new_interviewer_rating_session_path) %></li> -->
      <!-- <li><%# link_to('Zuschauerfragen - Panel auswählen', interviewer_panels_path) %></li> -->
      <!-- <li><%# link_to('Zuschauerfragen - Frage eingeben', new_interviewer_panel_question_path(Panel.first)) %></li> -->
    </ul>
  </div>

  <div class="zfm-admin-block">
    <h2>Redakteur</h2>
    <ul>
      <% Panel.order('id asc').all.each do |panel| %>
      <li><%= link_to("#{panel.title}".truncate(100), redakteur_panel_path(panel)) %></li>
      <% end -%>
    </ul>
  </div>

  <div class="zfm-admin-block">
    <h2>Moderator</h2>
    <ul>
      <% Panel.order('id asc').all.each do |panel| %>
      <li><%= link_to("#{panel.title}".truncate(100), moderator_panel_path(panel)) %></li>
      <% end -%>
    </ul>
  </div>

  <div class="zfm-admin-block">
    <h2>Playout</h2>
    <ul>
      <% Panel.order('id asc').all.each do |panel| %>
      <li><%= link_to("#{panel.title}".truncate(100), playout_panel_path(panel)) %></li>
      <% end -%>
    </ul>
  </div>

  <div class="zfm-admin-block">
    <h2>Veranstalter</h2>
    <ul>
      <li><%= link_to('Veranstalterfrage einreichen - Panel auswählen', operator_panels_path) %></li>
    </ul>
  </div>

  <div class="zfm-admin-block">
    <h2>Zuschauer</h2>
    <ul>
      <li><%= link_to('Zuschauerfrage einreichen - Panel auswählen', visitor_panels_path) %></li>
    </ul>
  </div>





  <%# render(
    "collection",
    collection_presenter: page,
    resources: resources,
    table_title: "page-title"
  ) %>

  <%# paginate resources %>
</section>
