$("[data-question-id='<%= @question.id %>']").remove();
$('#redakteur-selected-questions').append("<%=j render partial: 'redakteur/panels/question', locals: {panel: @panel, question: @question, mode: 'remove-from-selection'} %>");
<% @question_counts.each do |type, count| %>
  $('#redakteur-<%= type %>-questions-count').text(<%= count %>);
<% end %>
// // $('#selection-counter').text('<%= "#{@panel.max_selection_count - @panel.selected_count} / #{@panel.max_selection_count}" %>');
