$("[data-question-id='<%= @question.id %>']").remove();
<% if @question.type == 'VisitorQuestion'  -%>
  $('#redakteur-visitor-questions').html("<%=j render partial: 'redakteur/panels/question', collection: @panel.available_visitor_questions, locals: { panel: @panel, mode: 'add-to-selection' } %>");
<% elsif @question.type == 'EventQuestion' -%>
  $('#redakteur-event-questions').html("<%=j render partial: 'redakteur/panels/question', collection: @panel.available_event_questions, locals: { panel: @panel, mode: 'add-to-selection' } %>");
<% else %>
  $('#redakteur-finished-questions').html("<%=j render partial: 'redakteur/panels/question', collection: @panel.finished_questions, locals: { panel: @panel, mode: 'add-to-selection' } %>");
<% end -%>
<% @question_counts.each do |type, count| %>
  $('#redakteur-<%= type %>-questions-count').text(<%= count %>);
<% end %>
// $('#selection-counter').text('<%= "#{@panel.max_selection_count - @panel.selected_count} / #{@panel.max_selection_count}" %>');
