/*
 *= require bootstrap
 *= require bootstrap-editable
 *
 */

#edit-questions .editableform textarea.form-control {
    width: 600px;
}

/*#edit-questions .editableform .textarea.form-control {
  width: 600px;
}
*/
