/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require owl.carousel
 *= require owl.theme.default
 *= require fontawesome-all
 *= require jquery-ui
 *= require bootstrap-editable
 *= require zfm-ui
 *= require zfm-extend
 */

.debug-info {
  position: fixed;
  bottom: 0px;
  background-color: #ddd;
  color: #666;
  font-size: 12px;
  font-family: sans-serif;
  padding: 2px 5px;
}
