body, html {
    height: 100%;
    background: #E7E4DF;
    color:#4A4A4A;
    font-size:20px;
    line-height:1.4;
    font-weight:600;
}

.row {margin:0;width:100%;}

.container-flex {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section {height: 100%; display: flex;flex-direction: column; justify-content: center; align-items: center;}
.section-redakteur {height: 100%; display: flex;flex-direction: column;}
.section-moderator {height: 100%; display: flex;flex-direction: column;}
.app-left-side {flex:1;background:transparent;text-align: center;}
.app-right-side {flex:1;background:#f3f3f3;text-align: center;}
.app-inline-container {padding:6px;width:100%;}

.index-main .panel-container h3 {font-size:18px;text-align: center;}
.index-main .panel-container {font-size: 16px;text-align: left;}

.question-empty .question-content {display:block;text-align:center;}
.question-empty .question-content p {line-height:4;}

.moderator {background: #E7E4DF;padding:1px!important;}
.moderator h3 {color:#4a4a4a;}
.new-question h1 {padding: 0 40px;font-size:42px;}
.container-fluid {
    height: 100%;
    min-height: 100%;
    padding:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.container-fluid .app {
    /*padding: 6px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}
.container-fluid .app-controls-container {
    background-color: #333;
}
.container-fluid .app-main-container {
    background-color: transparent;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}

.panel-container {
  min-height: 390px;
  height:390px;
  padding:16px;
  margin-bottom:15px;
  background:#E7E4DF;
  border: 10px solid #fff;

}

#panel-1 {border-color:#40BBEA;}
#panel-2 {border-color:#D5080F;}
#panel-3 {border-color:#F7AA47;}
.author {}

.index-main .panel-container {min-height: 320px;height:320px;}
.index-main #logo {display:inline-block;}

.panel-container h3 {color:#3B89AC;font-size:22px;}
.panel-container p {color:#816940;font-size:18px;line-height:1.1;}

.pnl-header-mod-presenter {background:#727B84;}
.pnl-header-mod-quests {background:#727B84;}
.pnl-header-mod-presenter .block-title, .pnl-header-mod-quests .block-title  {font-weight:600;font-size:16px;color:#fff;text-align: left;}
.pnl-header-mod-presenter .block-title span, .pnl-header-mod-quests .block-title span  {margin-left: 10px;}
.section-moderator .projector a {visibility: hidden;display:none;}
#selected-questions {position:relative;}


ul, li {margin: 0;padding: 0;list-style: none;}
h1,h2,h3,h4,h5,h6 {color:#816940;font-family: OpenSansCondensed, Helvetica, Arial, sans-serif;}

h1 {font-size:38px;}
h2 {font-size:28px;}
h3 {font-size:24px;}

/* nun zeichne eine linie in golden */
h1:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 20%;
    padding-top: 20px;
    border-bottom: 5px solid #F5C53A;
}

#logo {
  background: url(<%= asset_data_uri 'img-logo.png' %>);
  width:170px;
  height:170px;
  background-size: cover;
 }

.owl-carousel h3 {color:#816940;text-align: center;}
.app-left-side h1, .app-right-side h1 {color:#816940;}
.app-left-side h3, .app-right-side h3 {color:#816940;}

/* Speech */
.speech-bubble {
    /*width:90%;*/
    position: relative;
    background: #fff;
    border-radius: .2em;
    border: 6px solid #E7E4DF;
    padding:20px 20px 0 20px;
}
.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 39px solid transparent;
    border-top-color: #FFF;
    border-bottom: 0;
    border-left: 0;
    margin-left: -19.5px;
    margin-bottom: -39px;
}

/* Close Button Control */
.close-button {
    height: 50px;
    width: 50px;
    position: absolute;
    top:1px;
    right: 1px;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
}
.close-button:before,
.close-button:after {
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -25px;
    display: block;
    height: 2px;
    width: 50px;
    background-color: #223345;
    transition: all 0.2s ease-out;
}
.close-button:after {
    transform: rotate(45deg);
}
.close-button:hover:before,
.close-button:hover:after {
    transform: rotate(0deg);
}

.btn-with-icon {
    padding: 0;
    display: inline-block;
    border-width: 0;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-with-icon > div {
    position: relative;
    display: flex;
}

.btn-with-icon > div > span {
    display: flex;
    height: 100%;
    align-items: center;
}
.pd-x-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-with-icon > div > span.icon {
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.wd-40 {
    width: 40px;
}

.btn-group-lg > .btn, .btn-lg {
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.3333333;
    border-radius: 2px;
}
.btn-primary {
    color: #fff;
    background-color: #fe5000;
    border-color: #fe5000;
}
.btn-primary:hover {
    color: #fff;
    background-color: #cc4000;
    border-color: #cc4000;
}

.btn-add-question {
  color:#fff;
  background-color: #868e96;
  border-color: #868e96;
  line-height: 2.8em;
}

/*Remove Button Right Side */
.app-right-side .fa-plus:before {content: "\f068";}

.btn-add-question:focus,
.btn-add-question.focus,
.btn-add-question:hover {
  color: #fff;
  background-color: #37a967;
  border-color: #257346;
}
.btn-add-question:active,
.btn-add-question.active,
.open > .dropdown-toggle.btn-add-question {
  color: #fff;
  background-color: #2a8350;
  border-color: #194d2f;
}

/* Badge */
.badge {
    position: relative;
    font-size: 9px;
    line-height: 12px;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    border-radius: 2px;
}
.badge-rating-visitor {background:#8DC63F;}
.badge-rating-official {background:#FE5000;}
.badge-letter-count {background:#d26a5c;}
.badge-letter-count h5 {color:#fff;font-weight:600;}

.badge-legend-visitor {background:#8DC63F;width:14px;height:14px;color:#4A4A4A;display:inline-block;top: 1px;position: relative;margin-right: 3px;}
.badge-legend-official {background:#FE5000;width:14px;height:14px;color:#4A4A4A;display:inline-block;top: 1px;position: relative;margin-right: 3px;}
.badge-legend-img {background:#628038;width:14px;height:14px;color:#4A4A4A;display:inline-block;top: 1px;position: relative;margin-right: 3px;}
.badge-legend-pnl {background:#da0500;width:14px;height:14px;color:#4A4A4A;display:inline-block;top: 1px;position: relative;margin-right: 3px;}

.legend {text-align:left;}

@media (min-width: 768px) {
    .container {
        /* background: #eee; */
        margin: 0 auto;
        overflow: hidden;
        width: 700px;
    }
    .owl-carousel {
        margin: 0;
        position: relative;
        /*width: 820px;*/
    }
    .owl-item > div {
        margin: 16px 30px;
        transition: margin 400ms ease-out;
    }
    .owl-item.center > div {
        margin: 0;
    }
    .owl-next {
        right: 60px;
    }
    .owl-prev {
        left: 60px;
    }

    .icon-arrow-left7 { left: auto; right: 0; }
    .icon-arrow-right7{ left: 0; right: auto; }
}

.css-radio.css-radio-lg {
    margin: 15px 0;
}

/* Question */
.question-list {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 230px;
    width: 320px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 100;
    border-right: 1px solid #ced4da;
    transition: all 0.2s ease-in-out;
}

.question-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #e9ecef;
    padding: 0 15px;
}
.question-list-header .btn-group .btn, .question-list-header .btn-group .sp-container button, .sp-container .question-list-header .btn-group button {
    padding: 8px 10px;
    border: 0;
}
.question-list-body p {line-height:1.2;margin-bottom:1px;}
.quest-hdl-official {font-weight: 600;}
.quest-hdl-visitor {font-weight: 600;}
.question-content {display:flex;}
.question-empty {border: 1px dashed #727B84;min-height:75px;max-height:75px;height:75px;}


.moderator .question-content {padding:6px;}
.moderator .question-content .tx-16 {padding:1px 3px 1px 1px;line-height:1.3em;}




.author-operator .question-headline-visitor {background: #628038;}
.author-operator .badge-rating-visitor {background: #628038;}
.quest-operator .question-headline-official {background: #da0500;}
.quest-operator .badge-rating-official {background: #da0500;}
.question-headline-visitor {background:#8DC63F;color:#FFF; padding: 0 0 0 3px;}
.question-headline-official {background:#FE5000;color:#FFF;padding: 0 0 0 3px;}
.question-list-item {
    position: relative;
    padding: 0;
    margin: 1px 1px;
    background-color: #f8f9fa;
    transition: all 0.2s ease-in-out;
    text-align: left;
}



.progress {
  height: 40px;
  border-radius: 2px;
  margin-bottom:5px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress.progress-mini {
  height: 5px;
}
.progress.progress-mini .progress-bar {
  line-height: 5px;
}
.progress-bar {
  line-height: 40px;
  font-size:24px;
  font-weight: 600;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #c94b4b;
  background: -webkit-linear-gradient(to right, #c94b4b, #4b134f);
  background: linear-gradient(to right, #c94b4b, #4b134f);
}
.rating-all {background:#90324D;color:#fff;}

.progress-bar-primary {
  background-color: #444444;
}
.progress-bar-success {
  background-color: #46c37b;
}
.progress-bar-info {
  background-color: #70b9eb;
}
.progress-bar-warning {
  background-color: #f3b760;
}
.progress-bar-danger {
  background-color: #d26a5c;
}

.progress-bar {
  width: 0;
  animation: progress 1.5s ease-in-out forwards;

  .title {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
  }
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Redakteur TAB Control */
.nav > li > a {padding:8px!important;}
.block > .nav-tabs > li > a > span {margin-left: 4px;}

.block > .nav-tabs > li > a.tab-all {background-color:#727B84;color:#fff;}
.block > .nav-tabs > li > a.tab-visitor {background:#727B84;color:#fff;}
.block > .nav-tabs > li > a.tab-official {background:#727B84;color:#fff;}
.block > .nav-tabs > li > a.tab-finished {background:#727B84;color:#fff;}

.block > .nav-tabs > li.active > a.tab-all {background-color: #F49917;color:#fff;}
.block > .nav-tabs > li.active > a.tab-visitor {background-color: #8DC63F;color:#fff;}
.block > .nav-tabs > li.active > a.tab-official {background-color: #FE5000;color:#fff;}
.block > .nav-tabs > li.active > a.tab-finished {background-color: #444;color:#fff;}

.block > .nav-tabs > li.active > a.tab-all:hover {background-color: #F49917;color:#fff;}
.block > .nav-tabs > li > a.tab-visitor:hover {background-color: #8DC63F;color:#fff;}
.block > .nav-tabs > li > a.tab-official:hover {background-color: #FE5000;color:#fff;}
.block > .nav-tabs > li > a.tab-finished:hover {background-color: #444;color:#fff;}
.block-content {padding: 1px 0 0 0;}

/*Data Widgets*/

.widget-panel-1 {border: 6px solid #40BBEA;}
.widget-panel-1 .h2, .widget-panel-1 .fa {color:#40BBEA}
.widget-panel-2 {border:6px solid #D5080F;}
.widget-panel-2 .h2, .widget-panel-2 .fa {color:#D5080F;}
.widget-panel-3 {border:6px solid #F7AA47;}
.widget-panel-3 .h2, .widget-panel-3 .fa {color:#F7AA47;}
.widget-question-counter, .widget-panel-1, .widget-panel-2, .widget-panel-3 {padding:8px;}
.widget-question-counter {border: 6px solid #68B828;}
.widget-question-counter .h2, .widget-question-counter .fa {color:#68B828}

.sortable-ghost {height:158px;background:yellow;}

.app-right-side .my-handle{
	cursor: move;
	/*cursor: -webkit-grabbing;*/
}


/* Helper Shortcodes */

.justify-content-between {
    justify-content: space-between !important;
}
.d-flex {
    display: flex !important;
}
.tx-12 {
    font-size: 12px;
}
.tx-13 {
    font-size: 13px
}
.tx-14 {
    font-size: 14px;
}
.tx-15 {
    font-size: 15px
}
.tx-16 {
    font-size: 16px;
}

.tx-22 {
    font-size: 22px;
}
.tx-gray-800 {
    color: #343a40;
}
.mg-b-10 {
    margin-bottom: 10px;
}
.tx-gray-600 {
    color: #868e96;
}


.txt-center {text-align: center;}

.pad-10  {padding:10px!important;}
.pad-15  {padding:5px 5px 5px 1px!important;}
.pad-20 {padding:20px!important;}
.push-1{margin-bottom:1px!important;}
.push-1-t{margin-top:1px!important;}
.push-1-r{margin-right:1px!important;}
.push-1-l{margin-left:1px!important;}
.push-5{margin-bottom:5px!important;}
.push-5-t{margin-top:5px!important;}
.push-5-r{margin-right:5px!important;}
.push-5-l{margin-left:5px!important;}
.push-10{margin-bottom:10px!important;}
.push-10-t{margin-top:10px!important;}
.push-10-r{margin-right:10px!important;}
.push-10-l{margin-left:10px!important;}
.push-15{margin-bottom:15px!important;}
.push-15-t{margin-top:15px!important;}
.push-15-r{margin-right:15px!important;}
.push-15-l{margin-left:15px!important;}
.push-20{margin-bottom:20px!important;}
.push-20-t{margin-top:20px!important;}
.push-20-r{margin-right:20px!important;}
.push-20-l{margin-left:20px!important;}
.push-25{margin-bottom:20px!important;}
.push-25-t{margin-top:20px!important;}
.push-25-r{margin-right:20px!important;}
.push-25-l{margin-left:20px!important;}
.push-30{margin-bottom:30px!important;}
.push-30-t{margin-top:30px!important;}
.push-30-r{margin-right:30px!important;}
.push-30-l{margin-left:30px!important;}
.push-40{margin-bottom:40px!important;}
.push-40-t{margin-top:40px!important;}
.push-40-r{margin-right:40px!important;}
.push-40-l{margin-left:40px!important;}
.push-50{margin-bottom:50px!important;}
.push-50-t{margin-top:50px!important;}
.push-50-r{margin-right:50px!important;}
.push-50-l{margin-left:50px!important;}
.push-70{margin-bottom:70px!important;}
.push-70-t{margin-top:70px!important;}
.push-70-r{margin-right:70px!important;}
.push-70-l{margin-left:70px!important;}
.push-100{margin-bottom:100px!important;}
.push-100-t{margin-top:100px!important;}
.push-100-r{margin-right:100px!important;}
.push-100-l{margin-left:100px!important;}
.push-150{margin-bottom:150px!important;}
.push-150-t{margin-top:150px!important;}
.push-150-r{margin-right:150px!important;}
.push-150-l{margin-left:150px!important;}
.push-200{margin-bottom:200px!important;}
.push-200-t{margin-top:200px!important;}
.push-200-r{margin-right:200px!important;}
.push-200-l{margin-left:200px!important;}
.push-300{margin-bottom:300px!important;}
.push-300-t{margin-top:300px!important;}
.push-300-r{margin-right:300px!important;}
.push-300-l{margin-left:300px!important;}
.no-bgcolor{background:transparent;}
.pulldown{position:relative;top:50px;}
.remove-margin{margin:0!important;}
.remove-margin-t{margin-top:0!important;}
.remove-margin-r{margin-right:0!important;}
.remove-margin-b{margin-bottom:0!important;}
.remove-margin-l{margin-left:0!important;}
.remove-padding{padding:0!important;}
.remove-padding-t{padding-top:0!important;}
.remove-padding-r{padding-right:0!important;}
.remove-padding-b{padding-bottom:0!important;}
.remove-padding-l{padding-left:0!important;}
.text-left {text-align:left;}
.text-center {text-align:center;}
.mheight-50{min-height:50px;}
.mheight-75{min-height:75px;}
.mheight-100{min-height:100px;}
.mheight-125{min-height:125px;}
.mheight-150{min-height:150px;}
.mheight-175{min-height:175px;}
.mheight-200{min-height:200px;}
.ht-40 {height: 40px;}

.redakteur-question-list {display:flex; flex-wrap: wrap;text-align: left;}
.redakteur-question-list li {font-size:16px;color:#444;display:flex;margin-bottom:1px;}

/*Fragen Mod*/
.mod-list {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width:100%;
}
.question-list-item {min-height: 93px;height:93px;}
.mod-list-item {width: 33.13%;min-height:158px;height:158px;}
.mod-list .question-empty {min-height:158px;height:158px;}
.question-content {padding:1px 2px 1px 2px;}

.moderator {font-size:16px;}
.moderator .progress {
  height: 16px;
}

.moderator .progress-bar {
  line-height: 16px;
  font-size:16px;
}

.css-radio.css-radio-lg {
    margin: 10px 0 0 0;
    margin-right: 0px;
}

.moderatorium h3 {font-size:42px;padding:0 40px;font-weight:700;}
textarea.form-control {height:200px;}
.moderator .push-15 {margin-bottom:5px!important;}
.moderator .push-15-t {margin-top:5px!important;}
.moderator a.set-current {height:158px;}
.h2 {font-size: 20px;}

/* Mobile Optimations*/
/* landscape pad */

@media screen and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)  {
  .panel-container {
    min-height: 390px;
    max-height: 390px
  }
}

@media only screen
and (min-device-width : 540px)
and (max-device-width : 960px) {
.container-fluid .app-main-container {justify-content: center;padding:20px;}
.new .container-fluid .app-main-container {justify-content: flex-start;padding: 45px 0 20px 0;}
.index h1, .new-question h1 {padding: 0 40px;font-size:28px;}
.index h2 {font-size:24px;}
.push-50 {margin-bottom:15px!important;}
textarea.form-control {height: 150px;}
.close-button {
    height: 30px;
    width: 30px;
    top:10px;
    right: 5px;
    line-height: 20px;
}
.close-button:before,
.close-button:after {
    width: 30px;
}
 }

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
  .container-fluid .app-main-container {justify-content: flex-start;padding:20px;}
  .new .container-fluid .app-main-container {justify-content: flex-start;padding: 35px 0 20px 0;}
  .panel-container {min-height: 200px;max-height:200px;}
  textarea.form-control {height: 90px;}
  .push-50 {margin-bottom:15px!important;}
  .index h1, .new-question h1 {padding: 0 40px;font-size:28px;}
  .index h2 {font-size:24px;}
  .close-button {
      height: 30px;
      width: 30px;
      top:10px;
      right: 5px;
      line-height: 20px;
  }
  .close-button:before,
  .close-button:after {
      width: 30px;
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
  .container-fluid .app-main-container {justify-content: flex-start;padding:20px;}
  .new .container-fluid .app-main-container {justify-content: flex-start;padding: 35px 0 20px 0;}
  .panel-container {min-height: 370px;max-height:370px;}
  .push-50 {margin-bottom:15px!important;}
  textarea.form-control {height:150px;font-size:16px;}
  .index h1, .new-question h1 {padding: 0 40px;font-size:28px;}
  .index h2 {font-size:24px;}
  .close-button {
      height: 30px;
      width: 30px;
      top:10px;
      right: 5px;
      line-height: 20px;
  }
  .close-button:before,
  .close-button:after {
      width: 30px;
  }
 }

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  h1 {font-size:24px;}
  .container-fluid .app-main-container {justify-content: flex-start;padding:20px;}
  .new .container-fluid .app-main-container {justify-content: flex-start;padding: 35px 0 20px 0;}
  .panel-container {min-height: 200px;max-height:200px;}
  .index h1, .new-question h1 {padding: 0 40px;font-size:24px;}
  .index h2 {font-size:20px;}
  .push-50 {margin-bottom:15px!important;}
  textarea.form-control {height: 90px;}
  .close-button {
      height: 30px;
      width: 30px;
      top:10px;
      right: 5px;
      line-height: 20px;
  }
  .close-button:before,
  .close-button:after {
      width: 30px;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
.container-fluid .app-main-container {justify-content: flex-start;padding:20px;}
.new .container-fluid .app-main-container {justify-content: flex-start;padding: 35px 0 20px 0;}
h1 {font-size:30px;}
h2 {font-size: 22px;}
h5 {font-size:16px;}
.panel-container h3 {font-size:20px;font-weight:600;}
#panel-1,#panel-2,#panel-3 {text-align: left;}
.push-50 {margin-bottom:15px!important;}
.ht-40 {height:30px;}
.btn {font-size:16px;}
label {font-size:18px;}
textarea.form-control {height:150px;font-size:16px;}
.pd-x-15 {padding-left: 5px;padding-right: 5px;}
.index h1, .new-question h1 {padding: 0 40px;font-size:24px;}
.index h2 {font-size:20px;}
.new .container-fluid .app-main-container {
    justify-content: flex-start;
    padding: 35px 0 20px 0;
}
.close-button {
    height: 30px;
    width: 30px;
    top:10px;
    right: 5px;
    line-height: 20px;
}
.close-button:before,
.close-button:after {
    width: 30px;
}

 }

.mod-list-item a {display:block;height:100%}
.rating_sessions h1 {font-size:28px;}
