<% page_title 'Playout Screen' %>
<% provide(:extra_body_attributes, raw("data-channels=\"PlayoutChannel\" data-panel-id=\"#{@panel.id}\"")) %>

<div class="app app-main-container moderatorium">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3 id="playout-current-question">
        <%= render partial: 'current_question', locals: { panel: @panel } %>
      </h3>
    </div>
  </div>
  <div class="row push-50-t">
    <div class="col-md-8 col-md-offset-2">
      <div id="playout-rating-stats">
        <%= render partial: 'moderator/panels/rating_stats', locals: { panel: @panel } %>
      </div>
    </div>
  </div>

</div>

<script>
  $(function() {
  });
</script>
