    <% if panel.current_question %>
      <%= question_number(panel.current_question) %>.) <%= panel.current_question.content %>
    <% else %>
      Außenwirtschaftstag Sachsen-Anhalt 2018<br>
      Erfolgreich in Zeiten des Umbruchs - Mit stabilen Partnerschaften international erfolgreich
    <% end %>
