<div class="question-list-item mod-list-item question-empty">
  <div class="d-flex justify-content-between push-1">
  </div><!-- d-flex -->

  <div class="question-content">
    <div class="tx-16"><%= message %></div>
  </div>
</div><!-- question-list-item -->
