<% if question && question.type == 'VisitorQuestion' %>
  <div class="question-list-item mod-list-item quest-visitor author-<%= question.author %> quest-state-<%= question_state(panel, question) %>" data-question-id="<%= question.id %>">
    <%= link_to moderator_panel_current_questions_path(panel), remote: true, method: 'post', data: { authenticity_token: true, disable: true, params: { question_id: question.id }.to_param, confirm: "Die Frage Nr. #{question_number(question)} wirklich auf dem Projektor anzeigen?" }, class: "set-current" do %>
    <div class="question-headline-visitor d-flex justify-content-between push-1">
      <span class="tx-16"><i class="fa fa-comment-alt"></i><span class="push-5-l">Nr. <%= question_number(question) %>, Zuschauerfrage</span></span>
      <span class="tx-16"><span class="badge badge-rating-visitor"><i class="fa fa-clock push-5-r"></i><%= l(question.created_at, format: '%H:%M') %></span></span>
    </div><!-- d-flex -->
    <div class="question-content">
      <div class="tx-16"><%= question.content %></div>
    </div>
    <%- end -%>
  </div><!-- question-list-item -->
<% elsif question && question.type == 'EventQuestion' %>
  <div class="question-list-item mod-list-item quest-official quest-state-<%= question_state(panel, question) %>" data-question-id="<%= question.id %>">
    <%= link_to moderator_panel_current_questions_path(panel), remote: true, method: 'post', data: { authenticity_token: true, disable: true, params: { question_id: question.id }.to_param, confirm: "Die Frage Nr. #{question_number(question)} wirklich auf dem Projektor anzeigen?" }, class: "set-current" do %>
    <div class="question-headline-official d-flex justify-content-between push-1">
      <span class="tx-16"><i class="fa fa-clipboard-list"></i><span class="push-5-l">Nr. <%= question_number(question) %>, Fragebogen</span></span>
      <span class="tx-14"><span class="badge badge-rating-official"><i class="fa fa-chart-pie push-5-r"></i><span class="rating-count"><%= question.overall_rating_count %></span> Bewertungen</span></span>
    </div><!-- d-flex -->
    <div class="question-content">
      <div class="tx-16"><%= question.content %></div>
    </div>
    <%- end -%>
  </div><!-- question-list-item -->
<% end %>
