        <% stats = panel.current_question_stats %>
        <%# debug stats %>

        <% stats[:rating_step_counts].each do |row| %>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= row[:count] %>" aria-valuemin="0" aria-valuemax="<%= row[:max_count] %>" style="max-width: <%= row[:percent] %>%">
            <span class="title"><%= row[:count] %></span>
            </div>
          </div>
          <div class="push-15 text-left">
            <%= row[:name] %>
          </div>
        <% end %>
        <% if stats[:overall_rating_count] %>
        <div class="push-15 text-center rating-all">
          Grundlage der grafischen Auswertung: <%= stats[:overall_rating_count] %> Bewertungen.
        </div>
        <% end %>
