    <% (0..panel.max_selection_count-1).each do |slot_index| %>
      <% if question = panel.selected_questions[slot_index] %>
        <%= render partial: 'moderator/panels/question', locals: { panel: panel, question: question } %>
      <% else %>
        <%= render partial: 'moderator/panels/empty_question', locals: { message: 'Leer' } %>
      <% end %>
    <% end %>
