<% page_title 'Moderator Screen' %>
<% provide(:extra_body_attributes, raw("data-channels=\"SelectedQuestionsChannel\" data-panel-id=\"#{@panel.id}\"")) %>

<%
  btn_class = 'close-button hidden'
  if @panel.current_question.nil?
    btn_class += ' invisible'
  end
%>

<%= link_to('', moderator_panel_current_question_path(@panel, 1), remote: true, method: 'delete', data: { authenticity_token: true, disable: true, confirm: "Die aktuelle Frage wirklich vom Projektor entfernen?" }, class: btn_class, id: 'moderator-close-button') %>

<div class="app app-main-container moderator">

  <h3 id="moderator-current-question" style="margin-top:20px;padding:0 15px">
    <%= render partial: 'current_question', locals: { panel: @panel } %>
  </h3>

  <div class="row push-30-t">
    <div class="col-md-8 col-md-offset-2">
      <div id="moderator-rating-stats">
        <%= render partial: 'rating_stats', locals: { panel: @panel } %>
      </div>
    </div>
  </div>

</div>

<div class="app app-controls-container">

  <div id="moderator-selected-questions" class="question-list-body mod-list">
    <%= render partial: 'selected_list', locals: { panel: @panel } %>
  </div>

</div>

<script>
  $(function() {

    // $(document).on('ajax:success', 'a.set-current', function(event) {
    //   var detail = event.detail;
    //   var data = detail[0], status = detail[1], xhr = detail[2];
    // });

  });
</script>
