<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <meta name="turbolinks-cache-control" content="no-preview">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      .flash { display: none; }
    </style>
  </head>

  <body class="<%= controller_name %> <%= action_name %>" <%= yield :extra_body_attributes %>>
    <%= flashes %>

    <div class="container-fluid">

      <%= yield %>

    </div>

    <% if Rails.env.development? %>
    <div class="debug-info">
      Template: <%= lookup_context.find_template("#{controller_path}/#{action_name}").identifier %>
    </div>
    <% end %>
  </body>
</html>
